/* 576px */

/* 상단 네비게이션 */
header {
    height: 60px;
}

#nav-pc {
    display: none;
}

#nav-mobile {
    display: block;
    width: 100%;
}

#nav-mobile a.rw:not(.icon) {
    width: 100%;
    float: left;
    display: none;
}

#nav-mobile a.icon {
    width: 20%;
    margin-left: 80%;
    height: 40px;
}

#nav-mobile a{
    display: block;
}

#nav-mobile a.rw{
    display: block;
    background-color: black;
    height: 50px;
    line-height: 50px;
}

.change .bar1 {
    transform: rotate(-225deg) translate(9px, -8px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(225deg) translate(8px, 6px);
}

.change{
    background-color: black;
}

.btn-st {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: opacity 0.6s, transform 0.4s;
}



/* content */

.container {
    font-family: "고딕", Arial, sans-serif;
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin: auto;
    background-color: rgba( 0, 0, 0, 0.8 );
}

.st1 {
    background-color: black;
}

.st2 {
    background-color: none;
}

.title img{
    height: 30%;
}

/* home */
.home{}

.home .frame img{
    width: 80%;
}

#ajax_button{
    width: 40%;
}

/* about */
.about{
    width: 100%;
}

.about .content p{
    font-size: 16px;
}

.about_box{
    position: relative;
    width: 200px;
    top: 10px;
    left: 0px;
}

.about_box img{
    width: 200px;
}

/* series */
.series{
    width: 100%;
}

.series_txt{
    width: 70%;
}

.series_txt p{
    font-size: 16px;
}

.ser_wrap{
    position: relative;
}

.ser_box1{
    width: 750px;
    height: 60vw;
    margin: auto;
}

.ser_box2{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: rgba( 0, 0, 0, 0.8 );
}

.series_img{
    height: 60vw;
    width: 90vw;
    margin: auto;
}

.series_img .series_back{
    width: 100%;
    height: 100%;
    margin: auto;

    background-image: url(../img/map_japen.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}


/* roadmap */
.roadmap{
    width: 100%;
}

.roadmap_txt p{
    font-size: 16px;
}

.roadmap_txt .roadtitle{
    font-weight: bold;
    font-size: 20px;
}

.roadmap .roadimg{
    height: 140px;
    position: relative;
    top: -30px;
    opacity: 0;
}

/* team */
.team{
    width: 100%;
}

.team_box{
    height: 100%;
}

.team_box p{
    font-size: 16px;
}

.team_box img{
    width: 30%;
    float: right;
}

.links{
    width: 100%;
    margin: auto;
}

.links .linkurl{
    width: 50%;
    text-align: center;
    float: left;
    padding: 20px 0px;
}

.links .linkurl img{
    width: 50%;
}

.linktitle{
    text-align: center;
    padding: 10px 0px;
}

.linktitle img{
    width: 50%;
}
